APP_NAME='Cloud Forge Backend'
APP_VERSION=0.1.0
ENVIRONMENT=
DEBUG=

DATABASE_URL=
REDIS_URL=


JWT_SECRET_KEY=change-me-super-secret-key
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
REFRESH_TOKEN_EXPIRE_DAYS=7